/* Styles généraux */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
body.acceuil {
    
    background-image: url("../image/marché.jpg");
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size: 100%;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: red;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 50px; /* Taille du logo */
    height: auto;
}

.title {
    font-size: 24px;
    text-transform: uppercase;
}

.lien{
    text-decoration: none;
    color: white;
}

/* Contenu de la page*/

div.contenu p{
    text-transform: uppercase;
    text-align: center;
    color: black;
    margin-top: 10%;
    font-size: large;
}

/* bouton continuer */

.btn{
    border: 1px solid black;
    border-radius: 10px;
    background-color: #c80606;
    display: block;
    margin-left: 45%;
    width: 150px ;
    height: 50px;
}

.fleche{
    position: relative;
    align-items: center;

}