/* Styles généraux */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, white, red); 
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 50px; /* Taille du logo */
    height: auto;
}

.title {
    font-size: 24px;
    text-transform: uppercase;
}
