
.container {
    display: flex; 
    justify-content:first baseline; 
    align-items: center; /* Centrer les div verticalement si nécessaire */
    
  }
#renne_pere_noel {
    position: relative;
    text-align: center;
    margin-top: 10%;
  }

#renne_pere_noel img {
    width: 100%;
  } 

#bulle {
    position: relative;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}


.view {
    display: flex; 
    justify-content:first baseline; 
    align-items: center; /* Centrer les div verticalement si nécessaire */
    margin-left: 20%;
    margin-top: 5%;
  }


.image{
    color: white; /* Couleur du texte */
    width: 70%;
    height: 50%;
  }

.fleche_avance{
  position: relative;
  top: 100px;
  right: 35%;
  text-decoration: none;
  color: white;
  text-align: left;
}

a.fleche_avance img{
  width: 40px;
  z-index: 1;
}
